/**
 * Login form styling. Many rules are overly specific and we use !important
 * like a hammer to override aggressive WordPress CSS.
 * @package CustomAuth
 */

.warning {
  background-color: lightYellow;
  border: solid 1px #e6db55;
  border-radius: 4px;
  margin-bottom: 10px !important;
  padding: 3px 5px;
}

.forgetmenot {
  margin-top: 5px !important;
}

#forgot-password,
#input-preferred p.fineprint {
  margin-bottom: 10px !important;
}

#input-preferred p {
  margin: 10px 0;
}

#input-preferred p.fineprint label {
  font-size: 12px;
}

#input-preferred label {
  color: #333;
}

input.busy,
input.busy:hover {
  background-image: url('../img/loading.gif') !important;
  background-position: 6px center !important;
  background-repeat: no-repeat !important;
  padding-left: 30px !important;
}

input.busy:hover {
  cursor: default !important;
  text-shadow: none !important;
}

.login h1 a {
  background-image: url('../img/mla-commons-logo.png');
  background-size: auto;
  height: 40px;
  width: 300px;
}
