p.warning {
  margin-bottom: 10px !important;
  padding: 3px 5px;
  border: solid 1px #e6db55;
  background-color: lightYellow;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  /* future proofing */
  -khtml-border-radius: 4px;
  /* for old Konqueror browsers */ }

p.forgetmenot {
  margin-top: 5px !important; }

#forgot-password {
  margin-bottom: 10px !important; }
#input-preferred p {
  margin: 10px 0; }
#input-preferred p.fineprint {
  margin-bottom: 10px !important; }
#input-preferred p.fineprint label {
  font-size: 12px; }
#input-preferred label {
  color: #333; }
#input-preferred input {
  margin: 0 !important;
  vertical-align: baseline; }

input.busy {
  padding-left: 30px !important;
  background-image: url("loading.gif") !important;
  background-position: 6px center !important;
  background-repeat: no-repeat !important; }

input.busy:hover {
  text-shadow: none !important;
  cursor: default !important;
  padding-left: 30px !important;
  background-image: url("loading.gif") !important;
  background-position: 6px center !important;
  background-repeat: no-repeat !important; }

.login h1 a { 
	background-image: url('mla-commons-logo.png'); 
	background-size: auto; 
	height: 40px; 
	width: 300px; 
} 
